.heading{
  font-family: Algerian;
  color: brown;
}

u{
  color: brown;
}

.stuff{
  color: rgb(179, 67, 67);
  font-weight: bold;
  font-family: Arial;
  font-size: 20px;
}

.list{
  color: rgb(187, 255, 0);
  font-family: Arial;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

body{
  background-color: rgb(0, 183, 255);
}

.contacts{
  color: rgb(179, 67, 67);
  font-weight: bold;
  font-family: Arial;
  font-size: 25px;
}

.order{
  color: rgb(131, 27, 27);
  font-family: Arial;
  font-size: 20px;
}

.name,
.message,
.amount,
.from_email{
  color: rgb(131, 27, 27);
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
}

.submit-button{
  background-color: rgb(131, 27, 27);
  color: rgb(0, 255, 255);
  font-family: Arial;
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 10px;
  cursor: pointer;
}

 @media screen and (max-width: 500px) {
              .img {
    height: 50px;
    width: 50px;
        }

          .imgs {
            height: 350px;
            width: 220px;
            margin-top: 100px;
          }


          .list {
            font-size: 12px;
          }

        }